* {
  box-sizing: border-box;
  margin: 0;
}

.app {
  background-color: #282828;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh; /* or the minimum height of your content */
}

.main {
  flex-grow: 1;
}

.app-logo {
  height: 5vmin;
  pointer-events: none;
  margin-top: 0px;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.site-title {
  margin-top: 20px;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  font-size: calc(10px + 2vmin);
  color: #ffe200;
}

.link {
  color: #ffe200;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: 'Nunito', sans-serif;
  -moz-text-fill-color: #ffe200;
  -webkit-text-fill-color: #ffe200;
  -moz-text-stroke-color: #1e1e1e;
  -webkit-text-stroke-color: #1e1e1e;
  -moz-text-stroke-width: 2px;
  -webkit-text-stroke-width: 2px;
  font-size: 50px;
  margin-top: 20vh;
}

footer {
  margin-top: 30px;
  text-align: center;
  background-color: #282c34;
  color: #ffe200;
}
